<div><button (click)="addBooks()">Add</button></div> 
  <div><button (click)="removeBooks()">Remove</button></div>
    <ag-grid-angular
      #agGrid
      style="width: 100%; height: 100%;"
      id="myGrid"
      class="ag-theme-alpine"
      [modules]="modules"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      (rowSelected)="onRowSelected($event)"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>