<div class="container" style="background:#867f7f47;width: 409px;border-bottom-style: solid;border-left-style: solid;border-top-style: solid;border-right-style:solid;">
    <h2 style="text-align: center;">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">FirstName:</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': f.firstName.touched && f.firstName.errors}"/>
            <div *ngIf="f.firstName.touched && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">first Name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">LastName:</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': f.lastName.touched && f.lastName.errors}"/>
            <div *ngIf="f.lastName.touched && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required"> last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" formControlName="age" class="form-control" [ngClass]="{ 'is-invalid': f.age.touched && f.age.errors}"/>
            <div *ngIf="f.age.touched && f.age.errors" class="invalid-feedback">
                <div *ngIf="f.age.errors.required"> Age is required</div>
            </div>
        </div>
            <div class="form-group">
                <label for="userName">UserName:</label>
                <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.errors}"/>
                <div *ngIf="f.userName.touched && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">User Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors}"/>
                <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <textarea formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': f.address.touched && f.address.errors}"></textarea>
                <div *ngIf="f.address.touched && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address is required</div>
                </div>
            </div>

            <div>
                <label for="gender">Gender:</label>
                <br>
                <input type="radio" value="male" name="gender" formControlName="gender">
                <label for="male">Male</label>
                <input type="radio" value="female" name="gender" formControlName="gender" style="margin-left:9px">
                <label for="male">Female</label>
            </div>
        
        <div class="form-group">
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary" style="margin-left:19px;">Clear</button>
        </div>
    </form>
</div>